.loader{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
}

.loader_title{
    font-size: 1rem;
}

.download_button{
    background: #4285F4;
    color: white;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 15px;
}
.logo_nan{
   
    height: 50px;
    width: 250px;
    background-image: url("/icons/logo_nan.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    
    margin-bottom: 0px;
   
}

.translator_container{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 5%;
    left: 0%;
    position: absolute;
}
.translate_sidepanel{
    background: rgba(0, 0, 0, 0.541);
    left: 80%;
    top: 7%;
    background: inherit;
    outline: none;
    border: none;
    padding: 10px;
}

option{
    background: #181717;
    color: white;
}

.hero_title{
    margin-top: 10px;
    font-size: 1.5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap;
    word-wrap: break-word;
    text-shadow: 0 0 1px white;
    
}

.hero_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
 
}

.hero_btn button{
  border-radius: 4px;
}

.summaryBtn{
    box-shadow: 0 0 2px white;
    min-width: 120px
 
}
.toolsBtn{
    box-shadow: 0 0 2px white;
    padding: 0.5em 1.1em;
    border-radius: 4px;
    min-width: 100px;
    cursor: pointer;
}

.tool_list{
    height: 76px;
    width: 150px;
    display: none;
    position: absolute;
    background: rgb(32, 30, 30);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.tool{
    padding:  0.7em  1.9em;
    border-bottom:  1px solid rgb(73, 67, 67);
}

.tool:nth-last-child(1){
    border-bottom: 0px solid;
}

.tool:hover{
    background: rgba(37, 33, 33, 0.904);
}

.clear_btn_container{
    width: 95vw;
    display: flex;
    justify-content: flex-start;

}
.clear_sum_btn{
   border: 1px solid rgba(161, 146, 146, 0.555);
    cursor: pointer;
}

.summary{
    width: 95vw;
    word-wrap: break-word;
    
}
.chat_box{
   font-size: 0.8rem;
   width: 86vw; 
   padding-bottom: 12px;
}

pre{
    background: black;
    max-width: 98%;
    box-shadow: 0 0 1px white;
    padding: 2px;
    border-radius: 4px;
}

code{
    max-width: 100%;
    white-space: wrap;
}

.input_container{
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    

}
.input{
   background: rgba(77, 66, 66, 0.562);
   padding: 4px 10px;
   border-radius: 4px;
   border-top-right-radius: 0px;
   text-align: left;
   white-space: wrap;
   max-width: 90%;
   overflow: hidden;
   word-wrap: break-word;
   margin-bottom: 10px;
   
}

.response_container{
    max-width: 100%;
    white-space: wrap;
    
}
.chatEnd{
    height: 120px;
    width: 400px;
 
}
.text_box{
    background: linear-gradient( 45deg, rgba(78, 67, 67, 0.212),rgba(77, 66, 66, 0.212)) ;
    width: 90vw;
    height: 85px;
    max-width:  600px;
    overflow: hidden;
    border-radius: 5px;
    padding: 6px;
    padding-top: 6px;
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 0px;
    position: fixed;
    backdrop-filter: blur(4px);
}

.image_container_textbox{
    max-height: 35px;
    margin: 0px;
    width: 90%;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.remove_image{
    height: 15px;
    width: 15px;
    background: #18171777;
    color: white;
    cursor: pointer;
    border-radius: 7.5px;
}

.chat_button_conatiner{
    transform: translateY(12px);
    margin-bottom: 12px;
    width: 89vw;
    max-width: 592px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 3px;
}
.media_upload_container{
    height: auto;
    width: 125px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1rem;
}
#media_add_button{
    height: 28px;
    width: 28px;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 0px;
}

.file_upload{
    display: none;
}

.image_label{
    cursor: pointer;
    pointer-events: auto;
}
.audio_and_submit_conatiner{
    height: auto;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

}
.chat_button{
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    transform: scale(0.85);

}

#vision_btn{
    border-radius: 14px;
    background-image: url("/icons/camera-add.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
#audio_btn{
    border-radius: 14px;
    background-image: url("/icons/microphone.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#audio_btn:hover{
    border: 0px solid;
    background: rgb(34, 31, 31);
    background-image: url("/icons/microphone.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
#vision_btn:hover{
    border: 0px solid;
    background: rgb(34, 31, 31);
    background-image: url("/icons/camera-add.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.media.media_add_button:hover{
    border: 0px solid;
    background: rgb(34, 31, 31);
}

#audio_btn:focus, #vision_btn:hover{
    outline: none;
    border: none;
}

#stop_btn{
    background: white;
    border-radius: 14px;
    background-image: url("/icons/stop_icon.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}
#stop_btn_audio{
    background: white;
    border-radius: 14px;
    background-image: url("/icons/stop_icon.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
}
#submit_btn{
    background: #4285F4;
    border-radius: 5px;
    background-image: url("/icons/arrow-up.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

button:disabled {
  filter: brightness(0.7); 
  cursor: not-allowed;
}

.transcribe_meeting_box{
   min-height: 450px;
   width: 350px;
   position: absolute;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   top: 50%;
   left: 50%;
   background: rgb(32, 30, 30);
   transform: translate(-50%, -50%);
   padding: 20px 0px;
}

.page_translator_box{
   min-height: 250px;
   width: 350px;
   position: absolute;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
    top: 50%;
    left: 50%;
    background: #181717;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    padding: 20px 0px;
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.664), 0 0 200px black;
}


.translator_header{
    width: 100%;
    display: flex;

    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    align-items: center;
}

.translator_title{
    font-size: 1.3rem;

}

.translate_paragraph{
    color: rgba(255, 255, 255, 0.692);
}

.translate_button{
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.678);
}

.close_translator{
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 5%;
}